.header {
border-top: 5px solid;
text-align: center;
background-color: #ffd106;
height: 150px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
}

.body {
position: relative;
width: 100%;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
}
