.header {
border-top: 5px solid;
text-align: center;
background-color: #ffd106;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 150px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
}

.body {
position: fixed;
top: 160px;
width: 100%;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
}
